.logo {
  position: relative;
  float: left;
  margin-right: 2rem;
}

.messageContainer{
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: solid red;
  border-width: 2px;
  border-radius: 2rem;
}

.message {
  border: solid lightblue;
  background-color: skyblue;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 15px;
  margin: 0.2rem;
}

.rightMessage{
  align-self: flex-end;
}

.leftMessage {
  align-self: flex-start;
}